body {
    background-image: url(images.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    
    margin: 10px;
}
.logo{
    font-size: xx-large;
    justify-content:end;
    color: white;
}
.navbar{
    display: flex;
    justify-content:space-between;
    align-items:center;
    color: white;
}
.nav_links {
    font-size: x-large;
    display:flex;
    gap: 25px;
    list-style: none;
    color:white;
    
}
.Mai_part{
animation: move 2s infinite alternate;
text-align: center;
font-size: 50px;
margin-top: 100px;
color: rgb(0, 176, 246);
font-family: 'Times New Roman', Times, serif;
}

@keyframes move{
    from{transform: translateY(0px);}
        to{transform: translateY(20px); }
        
    }

.BMP{
    font-size: larger;
    text-align: center;
    margin-top:0px;
    color: white;
}
.nav_links a
.nav_links a:link,
.nav_links a:visited,
.nav_links a:active{
    color:white;
    text-decoration: none;
}
.nav_links a:hover{
    color:rgb(246, 65, 20)
}
.AB{
   color:white

}
.para{
    font-size:25px;
    color: white;
}
.T{font-size: 25px;
    color:white;
}
.S{font-size: 25px;
    color: white;
}
html{
    scroll-behavior: smooth;
}
button{
    background: #0077ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    transition: 0.3s;
}
button :hover{
    background: #0055cc;
    transform: scale(1.05);
}
section{
    padding: 80px 20px;
    border-bottom: 1px solid #eee;
}
.PR{
    font-size: 35px;
    color: white;
}
.PR1{
    margin-top: 80px;
    color: white;
}
.PR2{
    padding-left: 50px;
    font-size: larger;
    color: red;
}
.PR3{
    font-size: 20px;
    color: white;
}
.PR2:hover{
    color:rgb(58, 20, 246)
}
.project-images img {
  width: 500px;    
  height: auto;     
  border-radius: 10px;
}
.project-images {
  display: flex;
  gap: 15px;              /* space between images */
  justify-content: center;
  flex-wrap: wrap;        /* go to next line on small screen */
}
.project-images img:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.cont{
    max-width: 1200px;
    margin: auto;
    padding:20px;
}
.PTR{
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 equal parts */
  gap: 30px;
}
.nav_links{
    margin-top: 20px;
}
.btn-outline {
  border: 2px solid #eff7f5;
  color: #f1f1f1;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
}
